@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

* {
    font-family: "Rationale", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: black;
}

ul, ol{
    list-style-type: none;
}

header, footer {
    background-color: var(--primary);
}

.container {
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
}

/*-----------------
HEADER STYLES 
-----------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

nav img {
    width: 90px;
}

.logo a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo h1{
    text-align: center;
    color: var(--heading-color);
    font-size: 1.9rem;
    font-weight: 150;
}

header 
.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu ul {
    display: flex;
    gap: 3rem;
}

.menu ul li a{
    color: var(--heading-color);
    font-size: 1.5rem;
}

.menu ul li a:hover {
    color: var(--accent);
}

.menu .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.menu .action i{
    color: var(--heading-color);
}

.btn {
    font-size: 1.5rem;
    padding: 5px 20px 5px 20px;
    display: flex;
    color: var(--heading-color);
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid #32EAFF;
    cursor: pointer;
}

main {
    margin-top: 5rem;
}

/*-----------------
FOOTER STYLES 
-----------------*/
footer {
    margin-top: 2.5rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.footer-nav h1{
    font-size: 1.25rem;
    color: var(--heading-color);
}

.footer-nav .info {
    max-width: 20%;
    text-align: justify;
}

.footer-nav .info p {
    color: var(--text-color);
}

.footer-nav  .link ul li a {
    color: var(--text-color);
}

.footer-nav .contribute ul li a{
    color: var(--text-color);
}

.footer-nav .sponsor img {
    margin-right: .25rem;
    max-width: 1.5rem;
}

.footer-nav .socials i {
    margin-right: .25rem;
    font-size: 1.5rem;
    color: var(--heading-color);
}

