main.homepage{
    overflow-x: hidden;
}

.home {
    position: relative;
    display: inline-block;
}

.home img {
    max-width: 100%;
    display: block;
}

.home .overlay {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    height: 80%;
    background-color: #11426fb4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DFFFEB;
}

.overlay .title h1 {
    font-size: 5rem;
    font-weight: 100;
}

.overlay .title h2 {
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
    margin-top: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 29px;
    border-color: transparent;
    font-size: 1.25rem;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #69c9d7;
    box-shadow: 0 0 0 2px #69c9d7;
    cursor: pointer;
    overflow: hidden;
    margin-top: 1rem;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #69c9d7;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #69c9d7;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #023C7D;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #023C7D;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #69c9d7;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}


/* .home .btn {
    display: flex;
    justify-content: center;
} */

.content {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.first .content-image,
.first .join{
    width: 50%;
}

.first h1 {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
}

.first h2 {
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 500;
}

.first p {
    text-align: justify;
    margin-top: 1rem;
    color: var(--text-color);
    font-size: 1.25rem;
}

.first img {
    width: 100%;
    border-radius: .5rem;
}

.join a {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.second .potential,
.second .content-image{
    width: 50%;
}

.second h1 {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
}

.second h2 {
    color: var(--text-color);
    font-size: 1.5rem;
}

.second p {
    text-align: justify;
    margin: .5rem 0 .5rem 3rem;
    color: var(--text-color);
    font-size: 1.25rem;
}

.second img {
    width: 100%;
    height: 18rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.third .future,
.third .content-image{
    width: 50%;
}

.third img {
    width: 100%;
    border-radius: .5rem;
}

.third h1 {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
}

.bullet-container{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.bullet-container .bullet-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bullet-align .outside-circle{
    width: 1.70rem;
    height: 1.70rem;
    border-radius: 100%;
    border: .15rem solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outside-circle .bullet{
    width: .50rem;
    height: .50rem;
    border-radius: 50%;
    background-color: var(--heading-color);
}

.bullet-align .line {
    width: 3px;
    height: 6rem;
    background-color: var(--heading-color);
}

.bullet-container .text-content h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bullet-container .text-content p {
    text-align: justify;
    margin: 1rem 0 1.5rem 1rem;
    color: var(--text-color);
    font-size: 1.25rem;
}


/* Marquee feature */

#featured-blogs {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.blogs:hover {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.blogs {
    display: flex;
    animation: slide 15s linear infinite;
    position: relative;
}

.blog-slide {
    display: flex;
    gap: .5rem;
}

.blog {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--accent);
    margin: .25rem;
}

.blog img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.blog .overlay {
    width: 100%;
    background-color: #11426fb4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFFFEB;
}

.blog .overlay .title h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    padding: 0.5rem;
}

.newsletter {
    margin: 0 auto;
    width: 50%;
    background-color: var(--primary);
    border-radius: .5rem;
    padding: 2rem 1.5rem;
    /* text-align: center; */
}

.newsletter p{
    color: var(--text-color);
    font-size: 1.25rem;
}

.newsletter .email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter .email input {
    margin-top: 1rem;
    padding: .25rem .5rem;
    height: 2.47rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 0;
    border: 1px solid var(--heading-color);
    background-color: var(--input-background);
    color: var(--heading-color);
}

.newsletter .email input::placeholder {
    color: var(--heading-color);
}

.newsletter .email button {
    margin-top: 1rem;
    border-radius: 0;
}