.about-us {
    margin: 7.15rem 0;
    background-color: var(--background-color);
    text-align: center;
}

.about-us h2 {
    font-size: 2.5rem;
    color: var(--heading-color);
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-logo img {
    width: 425px;
    height: auto;
    border-radius: 8px;
}

.about-text {
    max-width: 50%;
    text-align: left;
    line-height: 1.6;
    font-size: 1rem;
    color: var(--text-color);
    text-align: justify;
}

.about-text p {
    margin-bottom: 1rem;
}

.mission-container, 
.vision-container, 
.values-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.mission-content, 
.vision-content, 
.values-content {
    flex: 1;
    color: #DFFFFE;
    background-color: #003366;
    height: 400px;
}

.mission-content h2, 
.vision-content h2, 
.values-content h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:#DFFFFE;
    padding: 100px 50px 10px;
}

.mission-content p, 
.vision-content p, 
.values-content p {
    display: flex;
    justify-content: center;
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 50px 100px;
}

.mission-image, 
.vision-image, 
.values-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    max-height: 100%;
    max-width: 100%;
    height: 100px;
    width: auto;
}

.mission-image img, 
.vision-image img, 
.values-image img {
    height: 25rem;
    width: 25rem;
}