/*-----------------
BLOG VIEW STYLES 
-----------------*/

.highlight-blog {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.recent-blog-container {
  width: 65%;
}

.recent-blog-container h1,
.featured-blog-container h1,
.more-blog-container h1 {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--heading-color);
  margin: 1rem 0 .25rem 0;
}

.recent-blog {
  border: 2px solid var(--accent);
  background-color: var(--primary);
}

.recent-blog img {
  width: 100%;
  border-bottom: 2px solid var(--accent);
  padding: 0;
  margin: 0;
}

.recent-blog h2 {
  font-size: 1.25rem;
  font-weight: 100;
  color: var(--text-color);
  margin: .5rem .5rem 0 .5rem;
}

.recent-blog p {
  color: var(--text-color);
  text-align: justify;
  margin: 0.5rem;

}

.featured-blog-container {
  width: 35%;
}

.featured-blog {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent);
}

.featured-blog img {
  width: 100%;
  height: 15.35rem;
  display: block;
}

.featured-blog .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 27, 52, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DFFFEB;
}

.featured-blog .overlay .title h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  padding: 0.5rem;
}

.second-featured-blog {
  margin-top: 1rem;
}

.more-blog-container {
  margin-top: 3rem;
}

.more-blog-container h1 {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--heading-color);
  margin: 1rem 0;
}

.more-blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.blog {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent);
  background-color: var(--primary);
}

.blog img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.blog .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 27, 52, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DFFFEB;
}

.blog .overlay .title h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  padding: 0.5rem;
}

/*-----------------
BLOG CONTENT STYLES 
-----------------*/
.main-container {
  margin-top: 7rem;
}

.blog-title-container h1 {
  color: var(--heading-color);
  font-weight: 100;
  margin-bottom: .50rem;
}

.blog-title img {
  width: 57%;
  border: 2px solid var(--accent);
}

