.details {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    width: 40%;
}

.event-details h1,
.subheading {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
}

.event-details p,
.speaker p{
    font-size: 1.5rem;
    text-align: justify;
}

.heading p {
    font-size: 2rem;
}

.event-cta {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.event-details img,
.speaker img {
    width: 36%;
    border-radius: .5rem;
}

.subheading {
    margin-top: 3rem;
}

.speaker {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}