.form-title {
    padding-top: 2rem;
    color: var(--heading-color);
}

.form-title h1, h2 {
    font-weight: normal;
}

.set-event {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.set-event label::after {
    content: "*";
    color: var(--danger);
}

.set-event .registration, 
.set-event .registration-details {
    width: 50%;
    font-size: 1.5rem;
    padding: .25rem 0;
    margin-top: 1rem;
    color: var(--heading-color);
}

.set-event .registration-details p {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}

.set-event input, 
textarea {
    width: 100%;
    background-color: var(--input-background);
    border-radius: 5px;
    border: 1.5px solid var(--accent);
    padding: .5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    display: flex;
    font-size: 1rem;
}

.registration-details textarea {
    height: 5.36rem;
    resize: none;
}


.registration input::placeholder, 
.registration-details textarea::placeholder,
input::placeholder {
    color: var(--input-placeholder);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.lds-ellipsis{
    height: 10px;
}

.lds-ellipsis div{
    width: 8px;
    height: 8px;
    top: 0;
}

.buttons .submit{
    padding-left: 1rem;
    padding-right: 1rem;
}

.file-input-container label{
    font-size: 1.5rem;
    color: var(--heading-color); 
}

.file-input-container input{
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem; 
    border: 1.5px solid var(--accent);
    width: 100%; 
    line-height: 1.25rem; 
    color: var(--text-color); 
    background-color: var(--input-background); 
}